<!-- prettier-ignore -->
{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %} Kegiatan | Eko J. Salim {%endblock %} {% block css %}
<style>
  body {
    background-color: white;
    color: black;
  }
</style>
{% endblock %}
<!-- prettier-ignore -->
{% block content %} {% load static%} {% load crispy_forms_tags %}
<div class="container container-fluid my-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{kegiatan_requested.nama}}</h3>
          <p>{{kegiatan_requested.deskripsi}}</p>
          <div class="list-group">
            <h4>Pendaftar</h4>
            {% if kegiatan_requested.pendaftar.all|length == 0 %}
            <p>
              Tidak ada pendaftar!
            </p>
            {% endif %}
            <div class="d-flex flex-column align-items-start mx-auto">
              {% for pendaftar in kegiatan_requested.pendaftar.all %}
              <form
                action="{% url 'story6:pendaftar-delete' id=kegiatan_requested.id %}"
                method="POST"
              >
                {% csrf_token %}
                <div>
                  <input type="hidden" name="id" value="{{pendaftar.id}}" />
                  <input
                    type="submit"
                    class="btn btn-danger mr-2 my-1"
                    value="x"
                  />
                  {{ pendaftar.nama }}
                </div>
              </form>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <h3 class="card-title">Daftar Kegiatan Ini</h3>
          <form
            action="{% url 'story6:kegiatan-detail' id=kegiatan_requested.id %}"
            method="POST"
          >
            {% csrf_token %} {{ add_member_form|crispy }}
            <button type="submit" class="btn btn-primary">Daftar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- prettier-ignore -->
  {% endblock %}
</div>
