<!-- prettier-ignore -->
{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %} Kegiatan | Eko J. Salim {%endblock %} {% block css %}
<style>
  body {
    background-color: white;
    color: black;
  }
</style>
{% endblock %}
<!-- prettier-ignore -->
{% block content %} {% load static%} {% load crispy_forms_tags %}
<div class="container container-fluid my-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Tambah Kegiatan</h3>
          <form action="{% url 'story6:add-kegiatan' %}" method="POST">
            {% csrf_token %} {{ kegiatan_form|crispy }}
            <button type="submit" class="btn btn-primary">Tambah</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- prettier-ignore -->
  {% endblock %}
</div>
