{% extends "base.html" %} {% block title %} Home | Eko J. Salim {% endblock %}
{% load static%} {% block css %}
<link rel="stylesheet" href="{% static 'master.css' %}" />
{% endblock %} {% block content %}
<div class="wrapper">
  <nav class="navBar">
    <a href="https://morphism.id">
      <img src="{% static 'logo.png' %}" alt="logo" />
    </a>
  </nav>

  <header>
    <h1 class="anim">Projects</h1>
    <p class="anim" style="width: 100%;">
      Here are some of the projects I've done in the past few years:
    </p>
  </header>

  <div class="work">
    <a
      href="http://polymorphism.xyz/analisis3.html"
      class="img-a"
      data-title="UTBK 2019 Analysis"
    >
      <img
        class="anim"
        src="{% static 'analisis2019.png' %}"
        alt="project img"
      />
    </a>
    <a
      href="https://docs.google.com/presentation/d/1ZfOVhnq8RYrN8jwREb5lXw4MTX7wnmao3w2EPxq6QPM/edit?usp=sharing"
      class="img-a"
      data-title="Laser Attacker Locator"
    >
      <img class="anim" src="{% static 'lasor.jpg' %}" alt="project img" />
    </a>
    <a href="https://atrox.id" class="img-a" data-title="Atrox App">
      <img class="anim" src="{% static 'atrox.png' %}" alt="project img" />
    </a>
    <a
      href="https://github.com/ekojsalim/linebot"
      class="img-a"
      data-title="Classroom Line Bot"
    >
      <img class="anim" src="{% static 'linebot.jpg' %}" alt="project img" />
    </a>
    <a
      href="https://www.reddit.com/r/GlobalOffensive/comments/8nrui6/analyze_your_mm_data_and_find_banned_players_from/"
      class="img-a"
      data-title="CSGO Stats Analyzer"
    >
      <img class="anim" src="{% static 'csgo.jpg' %}" alt="project img" />
    </a>
  </div>
</div>

{% endblock %} {% block js %}
<script type="text/javascript">
  window.sr = ScrollReveal();
  sr.reveal(".anim");
</script>
{% endblock %}
