<!-- prettier-ignore -->
{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %} Add Course | Eko J. Salim {%endblock %} {% block css %}
<style>
  body {
    background-color: white;
    color: black;
  }
</style>
{% endblock %}
<!-- prettier-ignore -->
{% block content %} {% load static%} {% load crispy_forms_tags %}
<div class="container container-fluid my-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Add Course</h3>
          <form action="{% url 'add-course'%}" method="POST">
            {% csrf_token %} {{ form|crispy }}
            <button type="submit" class="btn btn-success">Add Course</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center my-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Delete Course</h3>
          <form action="{% url 'delete-course'%}" method="POST">
            {% csrf_token %} {{ delete_form|crispy }}
            <button type="submit" class="btn btn-success">Delete Course</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- prettier-ignore -->
{% endblock %}
