<!-- prettier-ignore -->
{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %} Add Course | Eko J. Salim {%endblock %} {% block css %}
<style>
  body {
    background-color: white;
    color: black;
  }
</style>
{% endblock %}
<!-- prettier-ignore -->
{% block content %} {% load static%} {% load crispy_forms_tags %}
<div class="container container-fluid my-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Courses List</h3>
          <div class="list-group">
            {% for course in courses %}
            <a
              href="{% url 'view-course' course.name %}"
              class="list-group-item list-group-item-action"
            >
              {{ course.name }} |
              <small class="text-muted">{{ course.lecturer }}</small>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- prettier-ignore -->
  {% endblock %}
</div>
