<!-- prettier-ignore -->
{% extends "base.html" %}
<!-- prettier-ignore -->
{% block title %} Add Course | Eko J. Salim {%endblock %} {% block css %}
<style>
  body {
    background-color: white;
    color: black;
  }
</style>
{% endblock %}
<!-- prettier-ignore -->
{% block content %} {% load static%} {% load crispy_forms_tags %}
<div class="container container-fluid my-4">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ course.name }}</h3>
          <hr />
          <h5>Pengajar</h5>
          <span>{{ course.lecturer }}</span>
          <h5>SKS</h5>
          <span>{{ course.credit }}</span>
          <h5>Semester</h5>
          <span>{{ course.term }}</span>
          <h5>Deskripsi</h5>
          <span>{{ course.description }}</span>
          <div>
            <ul class="list-group"></ul>
            <h5>Tugas</h5>
            {% for task in tasks %}
            <li class="list-group-item bg-success">
              {{ task.name }} | {{ task.deadline }}
            </li>
            {% endfor %} {% for task in close_tasks %}
            <li class="list-group-item bg-info">
              {{ task.name }} | {{ task.deadline }}
            </li>
            {% endfor %} {% for task in past_tasks %}
            <li class="list-group-item bg-danger">
              {{ task.name }} | {{ task.deadline }}
            </li>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- prettier-ignore -->
{% endblock %}
