* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  font-size: 100%;
}

html {
  font-family: Poppins;
}

body {
  width: 100%;
  background: #0e0e0e;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.navBar::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  color: #fff;
  font-size: 48px;
}

p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

/* navbar */

nav {
  height: 70px;
  line-height: 70px;
}

nav a img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

nav a:nth-child(2) {
  float: right;
}

/* header */

header {
  margin: 100px 120px 120px 120px;
}

header p {
  width: 100%;
  margin-top: 10px;
}

/* .work */

.work {
  text-align: center;
  width: 100%;
}

.work img {
  /* margin: 1%; */
  width: 100%;
}

/* header2 */

.header2 {
  margin: 130px 0 80px 40px;
}

/* .work2 */

.work2 {
  width: 100%;
  text-align: center;
}

.work2 img {
  margin: 1%;
  width: 94%;
}

/* footer */

footer p {
  text-align: center;
  color: grey;
  margin: 60px auto;
}

.img-a {
  position: relative;
  display: inline-block;
  width: 45%;
  height: 540px;
  margin: 1%;
}

.img-a img {
  object-fit: cover;
  height: 100%;
}

.img-a:before,
.img-a:after {
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.img-a:before {
  content: "";
  height: 100%;
  background: rgba(122, 157, 83, 0.8);
}

.img-a:after {
  content: attr(data-title);
  font-size: 30px;
  font-weight: bold;
  top: calc(50% - 0.5em);
  left: 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins";
}

.img-a:hover:before,
.img-a:hover:after {
  opacity: 1;
}

/* Responsiveness */

@media only screen and (max-width: 991px) {
  header {
    text-align: left;
    margin: 100px 0 100px 30px;
  }
  header h1 {
    font-size: 36px;
  }
  header p {
    font-size: 12px;
    width: 90%;
  }
  .work img {
    margin: 2%;
    width: 90%;
  }
  .header2 {
    margin: 130px 0 40px 12px;
  }
  .header2 h1 {
    font-size: 36px;
  }
  .header2 p {
    font-size: 12px;
    width: 90%;
  }
  .work2 img {
    margin: 2%;
  }
}
