@import url("https://fonts.googleapis.com/css?family=Poppins:400,900&display=swap");
body {
  color: white;
  margin: 0;
  text-align: center;
  background-color: black;
}

canvas {
  display: block;
  width: 60%;
  height: 100%;
}

a {
  cursor: pointer;
  color: inherit;
  -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

a,
a:hover {
  outline: 1px dashed transparent;
}

a:not(:hover):focus {
  outline: 1px dashed transparent;
}

a,
a:hover {
  text-decoration: none;
}

.footer {
  bottom: 3%;
}

.description {
  color: gray;
  padding-top: 50px;
}

.disable-selection {
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

.title {
  font-family: "Poppins";
  font-weight: 900;
  font-size: 50px;
  letter-spacing: 3px;
  margin-bottom: 0;
}

.subtitle {
  font-style: italic;
  font-size: 25px;
  margin-top: 0;
  letter-spacing: 1.1px;
  color: grey;
}

.header {
  position: absolute;
  left: 55%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}

.hidden {
  visibility: hidden;
}

@media (min-width: 320px) and (max-width: 640px) {
  #headtitle {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .title {
    margin-bottom: 20px;
  }
  .subtitle {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .container,
  canvas {
    width: 100%;
    height: 100%;
    margin-top: -50vh;
  }
  .links {
    letter-spacing: 1px !important;
    width: 90vw;
  }
  .link {
    text-decoration: underline !important;
  }
  .link:before {
    background-color: #000000 !important;
  }
}

.links {
  letter-spacing: 2.5px;
  font-size: 20px;
}

.link {
  margin-right: 15px;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  display: inline-block;
  position: relative;
  color: #aaa;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  color: #e0a458;
  background-color: transparent;
}

.link:before {
  position: absolute;
  left: 0;
  bottom: 2px;
  right: 0;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
  z-index: -1;
  display: block;
  -webkit-transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  box-sizing: border-box;
}

a.link:hover:before {
  bottom: -3.5px;
  height: 2px;
  background-color: #e0a458;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
